@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="rpthreadtracker" ng-controller="BaseController as vm"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            RPThreadTracker - Dashboard
        </title>
        <base href="/">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
	

        <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/application/styles/default/bootstrap.css"/>
        <link  rel="stylesheet" href="/application/styles/default/adminflare.css"/>
        <link rel="stylesheet" href="/application/styles/pages.css"/>
        <link rel="stylesheet" href="/application/styles/default/custom.css?t={{cacheBuster}}" />
        <link ng-if="user && user.UseInvertedTheme" rel="stylesheet" href="/application/styles/dark/custom.css?t={{cacheBuster}}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/application/scripts/jquery/bootstrap.js"></script>

        <link rel="stylesheet" href="/application/scripts/bower/bootstrap-switch/dist/css/bootstrap2/bootstrap-switch.min.css"/>
        <link rel="stylesheet" href="/application/scripts/bower/angular-ui-notification/dist/angular-ui-notification.min.css"/>
        <style type="text/css">
		/* ======================================================================= */
		/* Server Statistics */
            .well.widget-pie-charts .box { margin-bottom: -20px; }

            /* ======================================================================= */

            /* Why AdminFlare */

            #why-adminflare ul {
                margin: 0 -10px;
                padding: 0 10px;
                position: relative;
            }

            #why-adminflare ul:nth-child(2n) { background: rgba(0, 0, 0, 0.02); }

            #why-adminflare li {
                font-size: 14px;
                list-style: none;
                padding: 8px 10px;
                padding-left: 23px;
            }

            #why-adminflare li i {
                color: #666;
                font-size: 14px;
                margin: 3px 0 0 -23px;
                position: absolute;
            }


            /* ======================================================================= */

            /* Supported Browsers */

            #supported-browsers header {
                color: #666;
                display: block;
                font-size: 14px;
            }

            #supported-browsers header strong { font-size: 18px; }

            #supported-browsers .span10 {
                margin-bottom: -15px;
                text-align: center;
            }

            #supported-browsers .span10 div {
                display: inline-block;
                margin-bottom: 15px;
                margin-right: 15px;
                width: 120px;
            }

            #supported-browsers .span10 div:last-child { margin-right: 0; }

            #supported-browsers .span10 img {
                height: 40px;
                width: 40px;
            }

            #supported-browsers .span10 span {
                font-size: 14px;
                font-weight: 600;
                line-height: 40px;
            }

            @@media (max-width: 767px) {
                #supported-browsers header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            /* ======================================================================= */

            /* Status panel */

            .status-example {
                line-height: 0;
                position: relative;
                top: 22px
            }
        </style>
	<script>
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    ga('create', 'UA-37563721-2', 'auto');
	</script>
	
    </head>
<body ng-class="vm.bodyClass.value()" ng-cloak>
        <div ng-view></div>

        @Scripts.Render("~/bundles/bower")
        @Scripts.Render("~/bundles/angular-bootstrap")
        @Scripts.Render("~/bundles/angular-controllers")
        @Scripts.Render("~/bundles/angular-directives")
        @Scripts.Render("~/bundles/angular-filters")
        @Scripts.Render("~/bundles/angular-services")

    </body>
</html>